@charset "utf-8";
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100;
    background-color: #ffff99;
}


/*---#文字関係のデフォ設定を解除,書体設定----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
    border: 0;
    font-style: normal;
    font-weight: normal;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    vertical-align: baseline;
    width: 100%;
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    text-align: center;
}


/*---#header-------------------------------------------------------*/

header {
    /*    padding: 1%;*/
    height: 15%;
    text-align: center;
    background-color: #ffcc00;
}

header h1 {
    font-weight: bold;
    font-size: 42px;
}

header p {
    font-weight: bold;
    font-size: 30px;
}


/*---#main-------------------------------------------------------*/

main {
    margin: 4% 20%;
    padding: 1%;
    text-align: center;
    background-color: white;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

main dd {
    margin: 0%;
}

main p.error {
/*    visibility: hidden;*/
    margin: 0.5% auto;
    font-size: 15px;
    text-align: center;
    color: red;
}

main p.error_d {
    margin: 0.5% auto;
    font-size: 15px;
    text-align: center;
    color: red;
}

main h3 {
    margin: 1% auto;
    font-size: 25px;
}

main #completion {
    width: 150px;
    height: 50px;
    margin: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

main img {
    margin: 1%;
}


/*---footer-------------------------------------------------------*/

footer {
/*    position: absolute;*/
    bottom: 0;
    height: 8%;
    width: 100%;
    /*    padding: 0.5% 0;*/
    text-align: center;
    background-color: #ffcc00;
}

footer hr {
    margin: 0.5% 0 0 0;
    border: none;
    border-top: dashed 3px;
    height: 4px;
    color: #ffffff;
}